/*

#353030 Brown background
#312f31 Grey
#18181a INVENTORY SLOT BLACK
#725a39 Inventory head brow
#ffedd4  writting beige 

*/




body {   
color: #e4cfb2;
background-color: #353030;
}

.header{   
    background-color: #725a39;
}

select{
 font-size: 50px;
 background-color: #18181a ;
 color: #e4cfb2;

}

table {
    transform: scale(3);
    transform-origin: 0 0;
    border-radius: 5px 5px 0px 0px; 
    overflow: hidden;
    border: 3px solid brown;
  
}
table, th, td{
   
    border-spacing: 0px;
  
    border: 1px solid #725a39;
}

td, input{
    text-align: center;
    border-spacing: 0px;
    padding: 0px;
    background-color: black;
}
td.input{
    background-color: black;
}
input{
    border: 0px;
    background-color: black;
    color: beige;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
td{
    background-color: #18181a;
    text-align: right;
}
#nav_barbar {
    display: flex; /* Use flexbox to make the buttons stay in a line */
    justify-content: space-around; /* Space the buttons evenly */
    
    padding: 00px;
}

.TabLink {
    border: 0px;
    background-color: #555;
    color: #e4cfb2;
    cursor: pointer;
    font-size: 50px;
    padding: 00px; /* Add some padding to make the buttons look nice */
    width: 50%;
}

body{
  margin-left: 0%;
  margin-right:0% ;
  margin-top: 50px;
}
#PageContent{
    margin: 50px;
}
#AboutThisProject{
    font-size: 30px;
}
a{
    color:#e4cfb2 ;
}