/*

#353030 Brown background
#312f31 Grey
#18181a INVENTORY SLOT BLACK
#725a39 Inventory head brow
#ffedd4  writting beige 

*/

body {
    
    transform: scale(3);
    transform-origin: 0 0; /* Adjust the origin as needed */
  color: #e4cfb2;
    background-color: #353030;
}

th{
  
   
}
.header{
   
    background-color: #725a39;
}
table {
    
    border-radius: 5px 5px 0px 0px; 
    overflow: hidden;
    border: 3px solid brown;
  
}
table, th, td{
    
    border-spacing: 0px;
  
    border: 1px solid #725a39;
}

td, input{
    text-align: center;
    border-spacing: 0px;
    padding: 0px;
    background-color: black;
}

input{
    border: 0px;
    background-color: black;
    color: beige;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
td{
    background-color: #18181a;
    text-align: right;
}